<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<dataConfiguration defaultDatabase="ERPDatabase"/>
	<connectionStrings>
		<!--Start-->
		<add name="ERPDatabase" connectionString="Database=WEBERP;Server=200.1.1.189\SQL2019,15333;uid=erp;pwd=000000" providerName="System.Data.SqlClient" />
		<add name="HRPDatabase" connectionString="Database=WEBHR20210928;Server=200.1.1.189\SQL2019,15333;uid=erp;pwd=000000" providerName="System.Data.SqlClient" />
		<add name="ADDDatabase" connectionString="Database=WEBAD;Server=200.1.1.189\SQL2019,15333;uid=erp;pwd=000000" providerName="System.Data.SqlClient" />
		<!--End-->
	</connectionStrings>
	<appSettings>
		<add key="BM_CADUpperFieldNames" value="InName StruNo StruRmk ImgId PicQty CutFlg MatxFlg ModiFlg VirtualStruFlg OutName"/>
		<add key="BM_CADUpperSectionFieldNames" value="InName ImgId MainSizeCode BeginSizeCode EndSizeCode SizeText OutName"/>
		<add key="BM_CADGPSectionFieldNames" value="InName ImgId_SimName_Item StruRmk LastNo_UsingLastNo_UsingLastSizeCode LastSizeCode Spec ModiFlg OutName"/>
		<add key="BM_CADCutPermuteFieldNames" value="InName ImgId MaterialID MainSizeCode QtyY QtyX PriceQty BuyQty OutName"/>
		<add key="ReportExportedTempReportPath" value="c:\\Temp\\"/>
		<add key="PricePatchFilePath" value="C:\\Temp\\"/>
		<add key="ReportExportedTempReportPathOfEmail" value="C:\\Temp\\"/>
		<add key="SMTPServer" value="smtp.126.com"/>
		<add key="SMTPSender" value="peaktu123@126.com"/>
		<add key="SMTPPort" value="25"/>
		<add key="SMTPSenderId" value="peaktu123"/>
		<add key="SMTPSenderPwd" value="19850815"/>
		<add key="LAkey" value="e:\\tanli"/>
		<add key="CP_ToolNoticeFile" value="\\127.0.0.1\ErpUpdateFile\Temp\CP_ToolNoticeFile"/>
		<add key="CS_ImportNoticeFile" value="\\127.0.0.1\Temp"/>
		<add key="SYS_Passport" value="\\127.0.0.1\Temp2"/>
		<add key="ExcelPageSize" value="10000"/>
		<add key="KB" value="2048"/>
		<add key="culture" value="zh-tw"/>
		<add key="Otherdsn" value="server=200.1.1.189\SQL2019,15333;database=WEBERP"/>
		<add key="dsn" value="server=200.1.1.189\SQL2019,15333;database=WEBERP"/>
		<add key="dba1" value="erp"/>
		<add key="pas1" value="nfr0SII2fm4="/>
		<add key="dba2" value="erp"/>
		<add key="pas2" value="nfr0SII2fm4="/>
		<add key="dba3" value="erp"/>
		<add key="ReportPath" value="~/Report/Files"/>
		<add key="pas3" value="nfr0SII2fm4="/>
		<add key="DefaultConnectionString" value="server=200.1.1.189\SQL2019,15333;database=WEBERP"/>
		<add key="DefaultPassword" value="nfr0SII2fm4="/>
		<add key="DefaultUserid" value="erp"/>
		<add key="HRConnectionString" value="server=200.1.1.189\SQL2019,15333;database=WEBHR"/>
		<add key="HRpassword" value="nfr0SII2fm4="/>
		<add key="HRuserid" value="erp"/>
		<add key="ADConnectionString" value="server=127.0.0.1\SQLEXPRESS,1533;database=ADTest"/>
		<add key="ADpassword" value="nfr0SII2fm4="/>
		<add key="ADuserid" value="erp"/>
		<add key="EmployeeHeadImgPath" value="/EmployeeHeadImgFile"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>


		<!--  自訂錯誤訊息
          設定 customErrors mode="On" 或 "RemoteOnly" 來啟用自訂錯誤訊息，"Off" 則為停用。 
          請對每個您要處理的錯誤，加入相對應的 <error> 標記。

          "On" 永遠顯示自訂 (易讀) 訊息。

          "Off" 永遠顯示詳細的 ASP.NET 錯誤資訊。

          "RemoteOnly" 僅顯示自訂 (易讀) 訊息給不在區域 Web 伺服器上的使用者。

           針對安全性目的，建議您使用這項設定， 
           這樣子您就不會將應用程式的詳細資訊顯示給遠端用戶端。
    -->
		<customErrors mode="Off"/>
		<!--  驗證 
          這個區段將設定應用程式的驗證原則。可能的模式包括 "Windows"、 "Forms"、"Passport" 與 "None"

          "None" 沒有執行任何的驗證。 
          "Windows" IIS 會根據其針對應用程式所做的設定來執行驗證 (基本、摘要式或整合式 Windows 驗證) 
           IIS 的匿名存取功能必須停用。 
          "Forms" 提供自訂表單 (網頁) 讓使用者輸入他們的憑證， 
           然後在應用程式中驗證其憑證。使用者憑證 Token 儲存在 Cookie 中。

          "Passport" 驗證是經由 Microsoft 所提供的中央驗證服務而執行，
           此中央驗證服務可替成員網站提供單一登入與核心設定檔服務。
    -->
		<authentication mode="Forms">
			<forms name="MyAuthority" loginUrl="Login.aspx" defaultUrl="Default.aspx" timeout="6000" path="/" protection="All"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--  應用程式層級追蹤記錄
          應用程式層級追蹤啟用應用程式中每一頁面的追蹤記錄檔輸出。

          設定 trace enabled="true" 將啟用應用程式追蹤記錄。如果 pageOutput="true"，追蹤資訊將顯示
          在每一頁面的下方。此外，您也可以從 Web 應用程式的根目錄透過瀏覽 "trace.axd" 頁面的方式來檢視
          應用程式的追蹤記錄檔。
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  工作階段狀態設定

          根據預設，ASP.NET 會使用 Cookie 來識別哪些要求是屬於某個特定工作階段。

          如果無法使用 Cookie，您也可以將工作階段識別項加入到 URL 來追蹤工作階段。

          若要停用 Cookie，請設定 sessionState cookieless="true"。
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<!--  全球化設定

          此區段用來設定應用程式全球化選項。
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>


		


	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="Default.aspx"/>
				<add value="Default.asp"/>
				<add value="Default.htm"/>
				<add value="index.htm"/>
				<add value="index.html"/>
				<add value="iisstart.htm"/>
			</files>
		</defaultDocument>
		<handlers>
			<add name="DownLoad.aspx_*" path="DownLoad.aspx" verb="*" type="YiQuan.ERP.SystemFrameworks.Utils.DownloadHandler,YiQuan.ERP.SystemFrameworks"/>
			<add name="AjaxHandler.aspx_*" path="AjaxHandler.aspx" verb="*" type="YiQuan.ERP.SystemFrameworks.Utils.AjaxHandler,YiQuan.ERP.SystemFrameworks"/>
			<add name="AjaxHandler2.aspx_*" path="AjaxHandler2.aspx" verb="*" type="YiQuan.ERP.BusinessRules.Handler.AjaxHandler,YiQuan.ERP.BusinessRules"/>
			<add name="precompile.axd_*" path="precompile.axd" verb="*" type="System.Web.Handlers.BatchHandler"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.3.3.11" newVersion="1.3.3.11"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0E99375E54769942" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</compilers>
	</system.codedom>
	<location path="Report/WebClientPrintAPI.ashx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
		<system.webServer>
			<security>
				<authorization>
					<add accessType="Allow" users="*"/>
				</authorization>
			</security>
		</system.webServer>
	</location>
	<location path="Report/PrintRPTHandler.ashx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
		<system.webServer>
			<security>
				<authorization>
					<add accessType="Allow" users="*"/>
				</authorization>
			</security>
		</system.webServer>
	</location>
</configuration>
